    <hr />
    <header>

        <img style="width: 100%; height: auto; max-width: 800px; margin: 0 auto; display: block;" src="../img/logo.webp" alt="logo image" class="header-logo">
        <br />

        <style>
            .nav-container {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                height: 40px;
                width: 100%;
                padding: 4px, 0;
                border: 2px outset red;
                box-sizing: border-box;
            }

            .header-button {
                width: auto;
                height: auto;
                text-align: center;
            }
        </style>

        <nav style="font-family: noteworthy; font-size: 16px;" class="nav-container">
            <a class="header-button" href="../index.html">•home•</a>
            <a class="header-button" href="../page/botform.html">•build•</a>
            <a class="header-button" href="../page/subscribe.html">•sub•</a>
            <a class="header-button" href="../page/faves.html">alts</a>
            <a class="header-button" href="../page/gallery.html">•18+•</a>
	        <a class="header-button" href="../page/auth.html">•login•</a>
        </nav>
    </header>
    <br />
    <hr />