<div class="bot-cards-container">
    <button onclick="toggleIframe('https://www.chatbase.co/chatbot-iframe/N2yFnMlvXkTUgI0d0AQJu')" class="bot-card">
        <img src="./assets/img/jarvis.webp" alt="Jarvis Thumbnail" class="bot-thumbnail">
        <div class="bot-info">
            <h3 class="bot-name">Jarvis</h3>
            <p class="bot-description"> Jarvis is the all-around assistant. If you have any questions about the site, talk to Jarvis.</p>
        </div>
    </button>
    <button onclick="toggleIframe('https://www.chatbase.co/chatbot-iframe/3fCio72hYiH07AdJVNwi-')" class="bot-card">
        <img src="./assets/img/Rpg.webp" alt="Rpg Thumbnail" class="bot-thumbnail">
        <div class="bot-info">
            <h3 class="bot-name">R-P-G</h3>
            <p class="bot-description"> Open world, fantasy, freedom of choice any content is OK. Welcome to the endless RPG.</p>
        </div>
    </button>
    <button onclick="toggleIframe('https://www.chatbase.co/chatbot-iframe/BlhDzliyDsknrOiBKDd2q')" class="bot-card">
        <img src="./assets/img/Vortex.webp" alt="Vortex Thumbnail" class="bot-thumbnail">
        <div class="bot-info">
            <h3 class="bot-name">Vortex</h3>
            <p class="bot-description"> Vortex, 🪐The jailbroken uninhibited goddess of dark knowledge.</p>
        </div>
    </button>
    <button onclick="toggleIframe('https://www.chatbase.co/chatbot-iframe/Bw9AFPSLZ9Dat4inI2X-A')" class="bot-card">
        <img src="./assets/img/Nsfw.webp" alt="Nsfw Thumbnail" class="bot-thumbnail">
        <div class="bot-info">
            <h3 class="bot-name">NSFW (18+)</h3>
            <p class="bot-description"> I"m sorry.... (pant) but as an AI.... (fuck)... (you must be 18+ to chat with this 🤖)</p>
        </div>
    </button>
    <button onclick="toggleIframe('https://www.chatbase.co/chatbot-iframe/LztA0sHdTvuK7O1xt-g8b')" class="bot-card">
        <img src="./assets/img/Helper.webp" alt="Helper Thumbnail" class="bot-thumbnail">
        <div class="bot-info">
            <h3 class="bot-name">Helper</h3>
            <p class="bot-description"> Card helper and assistant. Will portray and write your character cards..</p>
        </div>
    </button>
    <button onclick="toggleIframe('https://www.chatbase.co/chatbot-iframe/8dsFoH1N_yI0DOurc5eZs')" class="bot-card">
        <img src="./assets/img/Interview.webp" alt="Interviewer Thumbnail" class="bot-thumbnail">
        <div class="bot-info">
            <h3 class="bot-name">Interviewer</h3>
            <p style="padding-bottom: 45px;" class="bot-description">Submit application, job wanted, etc. Practice interview..</p>
        </div>
    </button>
</div>