<hr />
<header>

    <img style="width: 100%; height: auto; max-width: 800px; margin: 0 auto; display: block;" src="../img/Logo.webp" alt="logo image" class="header-logo">
    <br />

    <style>
        .nav-container {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            height: 50px;
            width: 100%;
            padding: 4px, 0;
            border: 1px inset red;
            box-sizing: border-box;
        }

        .header-button {
            width: auto;
            height: auto;
            text-align: center;
        }
    </style>

    <nav class="nav-container">
        <a class="header-button" href="../../index.html">Home</a>
        <a class="header-button" href="../pages/createbot.php">Build</a>
        <a class="header-button" href="../pages/subscribe.html">Sub</a>
        <a class="header-button" href="../pages/account.php">Account</a>
        <a class="header-button" href="../pages/publicbots.php">Bots</a>
        <a class="header-button" href="../pages/gallery.html">18+</a>
        <a class="header-button" href="../pages/faves.html">faves</a>
    </nav>
</header>
<br />
<hr />